@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Embedded C </h1>
   <h1> I-Shou University</h1>
    <p class="lead">Teaching Assistant Sample</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Helloworld</h2>
        <p>
            This is my first MVC model
        </p>
        <p><a class="btn btn-default" href="www.google.com">To Google</a></p>
    </div>
    <div class="col-md-4">
        <h2>Change 1</h2>
        <p>Summary the website you jump</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Change 2</h2>
        <p>Summary the website you jump</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>